# All emails used by Emily Chu
Emily Chu <lin.emily.chu@gmail.com> <emma@emilys-mbp.lan>
Emily Chu <lin.emily.chu@gmail.com> <lin.chu@utexas.edu> 
Emily Chu <lin.emily.chu@gmail.com> <emma@Emilys-MacBook-Pro.local>
wzhengg99 <wzhengg99@gmail.com> <93406553+wzhengg99@users.noreply.github.com>
chrishicks430 <chrishicks430@gmail.com> <98392867+chrishicks430@users.noreply.github.com>
prismatism <peter.choi.94@gmail.com> <49503654+prismatism@users.noreply.github.com>