// $nav: #1d1b1d;
// $header: #1d1b1d;
$border: #353636;
// $MiddleBlueGreen: rgba(125, 226, 209);
// $PersianGreen: rgb(51, 153, 137);
// $PacificBlue: rgb(80, 178, 192);
// $OperaMauve: rgb(172, 128, 160);
// $LittleBoyBlue: rgb(137, 170, 230);
// $BlueNCS: rgb(54, 133, 181);
// $HonoluluBlue: rgb(4, 113, 166);
// $RichBlack: rgb(6, 24, 38);
// $background: rgb(31, 28, 30);
// $fontColor: rgba(136, 217, 230, 0.8);
// $Celeste: rgb(197, 255, 253);
// $MiddleBlue: rgb(136, 217, 230);
// $CoolGrey: rgb(139, 139, 174);
$font: 'Playfair Display', serif;

* {
  margin: 0;
}

#main-container {
  display: grid;
  grid-template-areas:
    'head head'
    // 'navb drop'
    'navb main'
    'navb main';
  grid-template-columns: 300px 1fr;
  height: 100em;

  // color: $fontColor;
  font-family: $font;
  .header {
    // background-color: $header;
    font-size: 30px;
    text-align: center;
    grid-area: head;
    max-height: 160px;
    padding: 25px 0 25px 0;
    width: 100%;
    position: fixed;
    border: 1px solid $border;
    // color: $fontColor;
    // box-shadow: rgba(51, 153, 137, 0.3) 0px 1px 2px 0px,
    //   rgba(51, 153, 137, 0.15) 0px 2px 6px 2px;
  }

  #dropdown {
    // grid-area: drop;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    min-width: 300px;
    #dropdown-but {
      font-size: 20px;
      font-family: $font;
      background-color: transparent;
      // color: $PersianGreen;
      border: 1px solid $border;
      padding: 5px 15px;
      &:hover {
        // background-color: rgba(159, 155, 158, 0.2);
        cursor: pointer;
      }
    }
    .menu {
      position: absolute;

      list-style-type: none;
      margin: 5px 0;
      padding: 0;

      border: 1px solid grey;
      width: 150px;
    }

    .menu > li {
      margin: 0;
      // background-color: $background;
      // color: $PersianGreen;
    }

    // .menu > li:hover {
    //   background-color: rgb(151, 150, 150);
    //   color: #1d1b1d;
    // }

    .menu > li > button {
      width: 100%;
      height: 100%;
      text-align: left;
      background: none;
      color: inherit;
      border: none;
      padding: 5px;
      margin: 0;
      font: inherit;
      cursor: pointer;
    }
  }

  #nav-bar {
    // background-color: $nav;
    min-width: 300px;
    align-items: center;
    top: 201px;
    grid-area: navb;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: -70px 0 0 0px;
    height: 100%;
    padding-top: 20px;
    border: 1px solid $border;
    // box-shadow: rgba(51, 153, 137, 0.3) 0px 1px 2px 0px,
    //   rgba(51, 153, 137, 0.15) 0px 2px 6px 2px;
    .link-div {
      display: flex;
      width: 300px;
      justify-content: center;
      // padding: 5px;
    }
    .link {
      padding: 5px;
      align-self: center;
    }
  }
}

.data-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  #total-names {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 12.5px;
    // color: #666666;
    font-family: Helvetica;
    font-weight: bolder;
    padding-top: 20px;
  }

  #names-num {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    // -webkit-text-stroke: 1px rgba(54, 133, 181, 1);
    font-size: 210px;
    // color: rgba(54, 133, 181, 0.6);
  }

  //pods & namespaces
  #list-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid $border;
    margin: 0 24px 0 24px;
    padding: 10px 5px 20px 5px;
    max-height: 342px;
    // box-shadow: rgba(51, 153, 137, 0.3) 0px 1px 2px 0px,
    //   rgba(51, 153, 137, 0.15) 0px 2px 6px 2px;
  }

  //line chart
  .charts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 5px 5px 5px;
  }

  .line-graph {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .line {
    margin: 30px 20px 20px 0;
    border: 1px solid $border;
    padding: 5px;
    // box-shadow: rgba(51, 153, 137, 0.3) 0px 1px 2px 0px,
    //   rgba(51, 153, 137, 0.15) 0px 2px 6px 2px;
    width: 700px;
    height: auto;
  }

  #total-names {
    display: flex;
    width: 200px;
    height: 200px;
    // color: rgba(136, 217, 230, 0.8);
  }

  #kube-main-dash {
    display: flex;
    flex-direction: column;
  }

  #kube-list-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid $border;
    margin: 0 24px 0 24px;
    margin-top: 125px;
    padding: 5px 5px 5px 5px;
    padding-bottom: 25px;
    max-height: 310px;
    // box-shadow: rgba(51, 153, 137, 0.3) 0px 1px 2px 0px,
    //   rgba(51, 153, 137, 0.15) 0px 2px 6px 2px;
  }

  #logs {
    background-color: rgb(218, 178, 246);
    min-width: 800px;
    width: 100%;
    height: 400px;
  }
}

#logo {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#eyepatch {
  // background-color: transparent;
  position: fixed;
  height: 50px;
  width: 50px;
  border-style: none;
  &:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // background-color: $background;
    // box-shadow: 0 0 20px 20px $background,
    // /* inner white */ /* middle magenta */ 0 0 100px 40px #0ff; /* outer cyan */
    cursor: pointer;
  }
  bottom: 3%;
}

#dropdown {
  width: 400px;
  max-width: 400px;
  margin-left: -55px;
}

#pod-names {
  width: 600px;
  max-width: 600px;
  border: 1px solid cl;
  margin-left: 60px;
  padding: 5px 0 0 20px;
  overflow-y: auto;

  h2 {
    border-bottom: 1px solid $border;
    font-weight: bold;
    padding-bottom: 5px;
  }
  div {
    padding: 5px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $border;
}

::-webkit-scrollbar-thumb {
  background: #97b1a6;
}

.pod-list:hover {
  cursor: pointer;
}

#kube-total-pods {
  margin-left: -100px;
}

#mongo-h1 {
  font-size: 100px;
  top: 200px;
  margin-left: 50px;
  align-self: center;
}

#mjolnir {
  width: 200px;
  height: auto;
}

#temp {
  display: flex;
  justify-content: center;
}
