@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


$nav: #1d1b1d;
$header: #1d1b1d;


*{
  margin: 0;
}

body {
  background-color: #363636;
  color:rgb(236, 240, 239);
  font-family: 'Playfair Display', serif;
}

.main-container {
  display: grid;
  grid-template-areas:
    'head head'
    'navb drop'
    'navb main'
    'navb main';
  grid-template-columns: 300px 1fr;

  .header {
    background-color: $header;
    font-size: 90px;
    text-align: center;
    grid-area: head;
    min-height: 150px;
    padding-top: 20px;
    width: 100%;
    position: fixed;
  }

  #dropdown {
    grid-area: drop;
    padding-bottom: 20px;
    .menu {
      position: absolute;

      list-style-type: none;
      margin: 5px 0;
      padding: 0;

      border: 1px solid grey;
      width: 150px;
    }

    .menu > li {
      margin: 0;

      background-color: white;
    }

    .menu > li:hover {
      background-color: lightgray;
    }

    .menu > li > button {
      width: 100%;
      height: 100%;
      text-align: left;
      background: none;
      color: inherit;
      border: none;
      padding: 5px;
      margin: 0;
      font: inherit;
      cursor: pointer;
    }
  }

  #nav-bar {
    background-color: $nav;
    min-width: 300px;
    align-items: center;
    top: 200px;
    grid-area: navb;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: -30px;
    height: 100%;
    color: aliceblue;
    padding-top: 20px;

    .link {
      // font-family
      color: rgb(238, 238, 238);
    }
  }
}

.data-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  // #small-graphs {
  //   display: flex;
  //   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // }
  //   grid-template-areas: ;
  //     'cpu mem'
  //     'pod nr'
  //     'nt nt'
  //     'log log';

  //pods & namespaces
  #list-data {
    display: flex;
    justify-content: center;
  }

  //line chart
  .charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 5px 5px 5px;
  }

  .line-graph{
    padding-top: 10px;
  }

  .line {
    margin-top: 10px;
    border: solid;
  }

  #total-names {
    background-color: rgb(147, 186, 221);
    width: 200px;
    height: 200px;
  }

  #total-pods {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
  }
  
  #total-cpu {
    // grid-area: cpu;
    background-color: aliceblue;
    width: 700px;
    height: auto;
  }

  #total-memory-use {
    // grid-area: mem;
    background-color: beige;
    width: 700px;
    height: auto;
  }

  #total-pods {
    // grid-area: pod;
    background-color: aquamarine;
    width: 200px;
    height: auto;
  }

  #net-rec {
    // grid-area: nr;
    background-color: burlywood;
    width: 700px;
    height: auto;
  }

  #net-trans {
    // grid-area: nt;
    background-color: rgb(242, 165, 199);
    width: 700px;
    height: auto;
  }
  // #extra {
  //   // grid-area: nt;
  //   background-color: rgb(96, 45, 67);
  //   // width: 400px;
  //   height: 400px;
  // }

  #logs {
    // grid-area: log;
    background-color: rgb(218, 178, 246);
    min-width: 800px;
    width: 100%;
    height: 400px;
  }
}


